@import "./parts/footer";
@import "./parts/header";
@import "./parts/menu";
$color-primary: #9356DC;
$color-secondary: #FF79DA;
$color-tertiary: #99E2D0;
body{
    margin: 0;
    font-family: roboto, verdana, sans-serif;
.loader{
    background-color: #9F9F9F;
    opacity: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    position: fixed;
    animation: loader 1500ms 3s forwards;
}
.animation{
    height: 50px;
    width: 50px;
    border: 4px solid white;
    border-radius: 50px;
    &__1tier{
        animation: animation__1tier 1300ms linear infinite;
        border-top: 4px solid $color-primary;
    }
    &__2tier{
        animation: animation__2tier 1300ms linear infinite;
        border-right: 4px solid $color-secondary;
    }
    &__3tier{
        animation: animation__3tier 1300ms linear infinite;
        border-bottom: 4px solid $color-tertiary;
    }
}
.localisation{
    display: flex;
    justify-content: center;
    background-color: #E9E9E9;
    padding: 13px 0;
    box-shadow: inset 0px 3px 2px #d1d1d1;
    i{
        padding-right: 15px;
    }
}
.reservation{
    text-align: center;
    padding: 25px 20px 50px 20px;
    background-color: #F5F5F5;
    &__titre{
        margin: 0;
        font-size: 17px;
        padding: 0 20px;
    }
    &__soustitre p{
        margin-bottom: 30px;
        color: gray;
        font-size: 19px;
    }
    &__btn{
        padding: 15px;
        border-radius: 25px;
        font-size: 15px;
        text-decoration: none;
        color: white;
        cursor: pointer;
        background: linear-gradient(to top, #9356DC, #FF79DA);
        border: inherit;
        box-shadow: 5px 5px 10px #d1d1d1;
        transition: all .4s ease-in-out;
        opacity: 1;
        &:hover{
            transform: scale(1.1);
            box-shadow: 5px 5px 10px #b1b1b1;
            opacity: 0.9;
        }
    }
}
h2{
    margin: 0;
    padding: 30px 0 25px 0;
    font-size: 24px;
    font-weight: bold;
    width: 100%;
}
.fonction{
    margin: 0;
    padding: 50px 0 25px 15px;
    font-size: 24px;
    &__btn{
        display: flex;
        flex-direction: column;
        padding: 0 15px 50px 20px;
        @media screen and (min-width: 551px) and (max-width: 900px){
              justify-content: space-around;
              align-items: center;
        }
        @media screen and (min-width: 901px){
            flex-direction: row;
            justify-content: space-around;
        }
    }
    &__btn1{
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        border-radius: 20px;
        padding: 10px 0;
        background-color: #F5F5F5;
        border: inherit;
        cursor: pointer;
        box-shadow: 5px 5px 10px #d9d9d9;
        transition: all .4s ease-in-out;
        &:hover{
            background-color: lighten($color-primary, 35%);
            box-shadow: 5px 5px 10px #C9C9C9;
            transform: scale(1.03);
            .fonction__icone{
                color: $color-primary;
            }
        }
        @media screen and (min-width: 551px) and (max-width: 900px){
            width: 60%;
        }
        @media screen and (min-width: 901px){
            width: 30%;
        }
    a{
        width: 100%;
        height: 55px;
        display: flex;
        align-items: center;
        text-decoration: none;
        }
    }
    &__nombre{
        background-color: #9356DC;
        border: 1px solid #9356DC;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        color: white;
        margin-left: -13px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 20px;
    }
    &__icone{
        color: #7E7E7E;
        font-size: 20px;
        display: flex;
        align-items: baseline;
    }
    &__texte{
        font-size: 16px;  
        color: black;
        padding-left: 20px;
    }
}
.restaurant{
        background-color: #F5F5F5;
        padding: 20px 15px 40px 15px;
        display: flex;
        flex-direction: column;
        @media screen and (min-width: 551px) and (max-width: 900px){
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
        @media screen and (min-width: 901px){
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
        }
    a{
        text-decoration: none;
        color: black;
        position: relative;
        flex-direction: column;
        line-height: 1;
    }
    .card__accueil{
        border-radius: 15px;
        background-color: white;
        margin-bottom: 20px;
        transition: all .4s ease-in-out;
        @media screen and (min-width: 901px){
            width: 45%;
            margin: 15px;
        }
        @media screen and (min-width: 551px) and (max-width: 900px){
            width: 40%;
            margin: 15px;
        }
        &:hover{
            transform: scale(1.03);
            box-shadow: 5px 5px 10px #C9C9C9;
        }
    }
    .card__image img{
        width: 100%;
        border-radius: 15px 15px 0 0;
        height: 170px;
        object-fit: cover;
    }
    .card__nouveau{
        position: absolute;
        top: 10px;
        right: 10px;
        border: 1px solid #99E2D0;
        border-radius: 3px;
        background-color: #99E2D0;
        padding: 5px 10px;
        font-size: 15px;
        font-weight: bold;
        color: #288C74;
    }
    .card__body{
        padding-left: 10px;
        padding-top: 15px;
        box-shadow: 0px 10px 10px -10px #D9D9D9;
        display: flex;
        justify-content: space-between;
        padding-bottom: 17px;
    }
    h3{
        margin: 0;
        padding-bottom: 5px;
        font-size: 17px;
    }
    .card__lieu{
        p{
        margin: 0;
        color: gray;
        }
    }
    .card__icone{
        display: flex;
        justify-content: flex-end;
        margin-right: 30px;
        font-size: 25px;
        color: gray;
        position: relative;
        @media screen and (min-width: 551px) and (max-width: 900px){
            margin-right: 20px;
        }
        .fa-heart{
            position: absolute;
            transition: opacity 0.5s ease-in-out;
        }
        .fa-regular{
            opacity: 1;
        }
        .fa-solid{
            opacity: 0;
            background: linear-gradient(to top, #FF79DA, #9356DC);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &:hover{
            .fa-regular{
                opacity: 0;
            }
            .fa-solid{
                opacity: 1;
            }
        }
    }
}
}