@-webkit-keyframes loader {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  70% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes loader {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  70% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@-webkit-keyframes loader-animation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes loader-animation {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes animation-entrees {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes animation-entrees {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes animation-plats {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes animation-plats {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@-webkit-keyframes animation-desserts {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
@keyframes animation-desserts {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }
  30% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
footer {
  background-color: #2C2C2C;
  color: white;
  padding-top: 20px;
  padding-bottom: 25px;
}
footer h4 {
  padding-left: 25px;
  margin: 0;
  font-family: shrikhand, verdana, sans-serif;
  font-size: 17px;
}
footer ul {
  list-style: none;
  padding-left: 25px;
  margin: 0;
  padding-top: 20px;
  line-height: 1.7;
  font-size: 15px;
}
footer a {
  text-decoration: none;
  color: white;
}
footer i {
  padding-right: 5px;
}
footer .fa-handshake-angle {
  font-size: 11px;
}

@media screen and (min-width: 901px) {
  ul {
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
  }
}
.header__logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 15px 0;
}

.header__menu {
  padding: 10px 20px 0 20px;
}
.header__menu .icone__retour {
  display: flex;
  align-items: center;
}
.header__menu a {
  text-decoration: none;
  color: black;
  font-size: 20px;
}
.header__menu img {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 551px) and (max-width: 900px) {
  .header__menu img {
    width: 40%;
  }
}
@media screen and (min-width: 901px) {
  .header__menu img {
    width: 30%;
  }
}
footer {
  background-color: #2C2C2C;
  color: white;
  padding-top: 20px;
  padding-bottom: 25px;
}
footer h4 {
  padding-left: 25px;
  margin: 0;
  font-family: shrikhand, verdana, sans-serif;
  font-size: 17px;
}
footer ul {
  list-style: none;
  padding-left: 25px;
  margin: 0;
  padding-top: 20px;
  line-height: 1.7;
  font-size: 15px;
}
footer a {
  text-decoration: none;
  color: white;
}
footer i {
  padding-right: 5px;
}
footer .fa-handshake-angle {
  font-size: 11px;
}

@media screen and (min-width: 901px) {
  ul {
    display: flex;
    justify-content: space-between;
    padding-right: 25px;
  }
}
body {
  margin: 0;
  font-family: roboto, verdana, sans-serif;
}

.image__menu {
  width: 100%;
  height: 265px;
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 551px) and (max-width: 900px) {
  .image__menu {
    height: 320px;
  }
}
@media screen and (min-width: 901px) {
  .image__menu {
    display: flex;
    z-index: 1;
    width: 35%;
    height: 210px;
    border: 4px solid #99E2D0;
    border-radius: 15px;
    top: 20px;
    left: 100px;
    position: relative;
  }
}

h1 {
  margin-top: 0;
  font-size: 27px;
  margin-bottom: 5px;
  font-family: shrikhand, Verdana, sans-serif;
  padding-left: 20px;
}
@media screen and (min-width: 901px) {
  h1 {
    padding-right: 65px;
  }
}

.menu {
  background-color: #F5F5F5;
  border-radius: 40px 40px 0 0;
  position: relative;
  width: 100%;
  margin-top: -55px;
  padding-bottom: 80px;
}
@media screen and (min-width: 551px) and (max-width: 900px) {
  .menu {
    margin-top: -40px;
  }
}
@media screen and (min-width: 901px) {
  .menu {
    margin-top: -220px;
    border-radius: 0;
  }
}
.menu__titre {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
  padding: 30px 60px 0px 0px;
}
@media screen and (min-width: 901px) {
  .menu__titre {
    justify-content: center;
    padding: 100px 130px 100px 430px;
  }
}
.menu__icone__menu {
  font-size: 25px;
  display: flex;
  align-items: end;
  color: gray;
  position: relative;
}
.menu__icone__menu .fa-heart {
  position: absolute;
  transition: opacity 0.5s ease-in-out;
}
.menu__icone__menu .fa-regular {
  opacity: 1;
}
.menu__icone__menu .fa-solid {
  opacity: 0;
  background: linear-gradient(to top, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.menu__icone__menu:hover .fa-regular {
  opacity: 0;
}
.menu__icone__menu:hover .fa-solid {
  opacity: 1;
}
@media screen and (min-width: 901px) {
  .menu__complet {
    display: flex;
    justify-content: center;
  }
}

@media screen and (min-width: 901px) {
  .menu__entrees {
    width: 33%;
  }
}

@media screen and (min-width: 901px) {
  .menu__plats {
    width: 33%;
  }
}

@media screen and (min-width: 901px) {
  .menu__desserts {
    width: 33%;
  }
}

.menu__card__titre {
  font-size: 16px;
  padding-bottom: 15px;
  padding-top: 25px;
  padding-left: 20px;
  margin-top: 0;
  font-weight: 400;
  color: gray;
}

.menu__card__titre::after {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background: #99E2D0;
  margin-top: 5px;
}

.card__entrees {
  -webkit-animation: animation-entrees 3s ease-in-out;
          animation: animation-entrees 3s ease-in-out;
}

.card__plats {
  -webkit-animation: animation-entrees 4s ease-in-out;
          animation: animation-entrees 4s ease-in-out;
}

.card__desserts {
  -webkit-animation: animation-entrees 5s ease-in-out;
          animation: animation-entrees 5s ease-in-out;
}

.card {
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
.card a {
  background-color: white;
  border-radius: 15px;
  line-height: 0.5;
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 10px 10px -10px #d9d9d9;
  text-decoration: none;
  width: 100%;
  margin: 0;
  overflow: hidden;
}
@media screen and (min-width: 901px) {
  .card a {
    width: 100%;
  }
}
.card a:hover .menu__icone__liste {
  width: 80px;
  height: 100%;
  transition: all 0.6s ease-in-out;
}
.card a:hover .menu__icone__liste .fa-solid, .card a:hover .menu__icone__liste .fas {
  color: white;
}
.card a:hover .fa-solid, .card a:hover .fas {
  transform: rotate(360deg);
  transition: all 1s ease-in-out;
  color: white;
}
.card .nom {
  font-size: 17px;
  color: black;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-top: 10px;
  padding-left: 10px;
  margin: 0;
}
.card .supplement {
  font-size: 14px;
  color: gray;
  text-overflow: ellipsis;
  overflow: hidden;
  padding-left: 10px;
  margin: 0;
  padding-bottom: 10px;
}
.card .entrees__description, .card .plats__description, .card .desserts__description {
  white-space: nowrap;
  overflow: hidden;
  line-height: 1.25;
}
.card .survol {
  display: flex;
}
.card .prix__description {
  align-items: end;
  display: flex;
  margin: 15px;
  font-size: 15px;
  color: black;
}
.card .menu__icone__liste {
  align-items: center;
  justify-content: center;
  display: flex;
  width: 0px;
  height: 100%;
  margin-top: auto;
  margin-bottom: auto;
  background-color: #99E2D0;
  border-radius: 0px 15px 15px 0px;
  transition: all 0.6s ease-in-out;
}
.card .strong {
  align-items: end;
  display: flex;
  padding-bottom: 15px;
}
.card .fa-solid, .card .fas {
  margin: 0;
  font-size: 25px;
  color: transparent;
  transition: all 1s ease-in-out;
}

.btn__menu {
  margin-top: 50px;
  border-radius: 25px;
  padding: 15px 50px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  box-shadow: 5px 5px 10px #D1D1D1;
  border: inherit;
  cursor: pointer;
  text-decoration: none;
  color: white;
  font-size: 15px;
  transition: all 0.4s ease-in-out;
  opacity: 1;
}
.btn__menu:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px #b1b1b1;
  opacity: 0.9;
}

body {
  margin: 0;
  font-family: roboto, verdana, sans-serif;
}

.loader {
  background-color: white;
  opacity: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  position: fixed;
  -webkit-animation: loader 3s linear;
          animation: loader 3s linear;
  transform: scale(0);
  z-index: 100;
}
.loader .animation {
  height: 80px;
  width: 80px;
  border: 4px solid transparent;
  border-radius: 50px;
  border-top-color: transparent;
  border-left-color: #FF79DA;
  border-bottom-color: transparent;
  border-right-color: #9356DC;
  -webkit-animation: loader-animation 1s linear infinite;
          animation: loader-animation 1s linear infinite;
}

.localisation {
  display: flex;
  justify-content: center;
  background-color: #E9E9E9;
  padding: 13px 0;
  box-shadow: inset 0px 3px 2px #d1d1d1;
}
.localisation i {
  padding-right: 15px;
}

.reservation {
  text-align: center;
  padding: 25px 20px 50px 20px;
  background-color: #F5F5F5;
}
.reservation__titre {
  margin: 0;
  font-size: 17px;
  padding: 0 20px;
}
.reservation__soustitre p {
  margin-bottom: 30px;
  color: gray;
  font-size: 19px;
}
.reservation__btn {
  padding: 15px;
  border-radius: 25px;
  font-size: 15px;
  text-decoration: none;
  color: white;
  cursor: pointer;
  background: linear-gradient(to top, #9356DC, #FF79DA);
  border: inherit;
  box-shadow: 5px 5px 10px #d1d1d1;
  transition: all 0.4s ease-in-out;
  opacity: 1;
}
.reservation__btn:hover {
  transform: scale(1.1);
  box-shadow: 5px 5px 10px #b1b1b1;
  opacity: 0.9;
}

h2 {
  margin: 0;
  padding: 30px 0 25px 0;
  font-size: 24px;
  font-weight: bold;
  width: 100%;
}

.fonction {
  margin: 0;
  padding: 50px 0 25px 15px;
  font-size: 24px;
}
.fonction__btn {
  display: flex;
  flex-direction: column;
  padding: 0 15px 50px 20px;
}
@media screen and (min-width: 551px) and (max-width: 900px) {
  .fonction__btn {
    justify-content: space-around;
    align-items: center;
  }
}
@media screen and (min-width: 901px) {
  .fonction__btn {
    flex-direction: row;
    justify-content: space-around;
  }
}
.fonction__btn1 {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 10px 0;
  background-color: #F5F5F5;
  border: inherit;
  cursor: pointer;
  box-shadow: 5px 5px 10px #d9d9d9;
  transition: all 0.4s ease-in-out;
}
.fonction__btn1:hover {
  background-color: #f2eafb;
  box-shadow: 5px 5px 10px #C9C9C9;
  transform: scale(1.03);
}
.fonction__btn1:hover .fonction__icone {
  color: #9356DC;
}
@media screen and (min-width: 551px) and (max-width: 900px) {
  .fonction__btn1 {
    width: 60%;
  }
}
@media screen and (min-width: 901px) {
  .fonction__btn1 {
    width: 30%;
  }
}
.fonction__btn1 a {
  width: 100%;
  height: 55px;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.fonction__nombre {
  background-color: #9356DC;
  border: 1px solid #9356DC;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  color: white;
  margin-left: -13px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}
.fonction__icone {
  color: #7E7E7E;
  font-size: 20px;
  display: flex;
  align-items: baseline;
}
.fonction__texte {
  font-size: 16px;
  color: black;
  padding-left: 20px;
}

.restaurant {
  background-color: #F5F5F5;
  padding: 20px 15px 40px 15px;
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 551px) and (max-width: 900px) {
  .restaurant {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
@media screen and (min-width: 901px) {
  .restaurant {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
.restaurant a {
  text-decoration: none;
  color: black;
  flex-direction: column;
  line-height: 1;
}
.restaurant .card__accueil {
  position: relative;
  border-radius: 15px;
  background-color: white;
  margin-bottom: 20px;
  transition: all 0.4s ease-in-out;
}
@media screen and (min-width: 901px) {
  .restaurant .card__accueil {
    width: 45%;
    margin: 15px;
  }
}
@media screen and (min-width: 551px) and (max-width: 900px) {
  .restaurant .card__accueil {
    width: 40%;
    margin: 15px;
  }
}
.restaurant .card__accueil:hover {
  transform: scale(1.03);
  box-shadow: 5px 5px 10px #C9C9C9;
}
.restaurant .card__image img {
  width: 100%;
  border-radius: 15px 15px 0 0;
  height: 170px;
  -o-object-fit: cover;
     object-fit: cover;
}
.restaurant .card__nouveau {
  position: absolute;
  top: 10px;
  right: 10px;
  border: 1px solid #99E2D0;
  border-radius: 3px;
  background-color: #99E2D0;
  padding: 5px 10px;
  font-size: 15px;
  font-weight: bold;
  color: #288C74;
}
.restaurant .card__body {
  padding-left: 10px;
  padding-top: 15px;
  box-shadow: 0px 10px 10px -10px #D9D9D9;
  display: flex;
  justify-content: space-between;
  padding-bottom: 17px;
}
.restaurant h3 {
  margin: 0;
  padding-bottom: 5px;
  font-size: 17px;
}
.restaurant .card__lieu p {
  margin: 0;
  color: gray;
}
.restaurant .card__icone {
  display: flex;
  justify-content: flex-end;
  margin-right: 30px;
  font-size: 25px;
  color: gray;
  position: relative;
}
@media screen and (min-width: 551px) and (max-width: 900px) {
  .restaurant .card__icone {
    margin-right: 20px;
  }
}
.restaurant .card__icone .fa-heart {
  position: absolute;
  transition: opacity 0.5s ease-in-out;
}
.restaurant .card__icone .fa-regular {
  opacity: 1;
}
.restaurant .card__icone .fa-solid {
  opacity: 0;
  background: linear-gradient(to top, #FF79DA, #9356DC);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.restaurant .card__icone:hover .fa-regular {
  opacity: 0;
}
.restaurant .card__icone:hover .fa-solid {
  opacity: 1;
}/*# sourceMappingURL=style.css.map */