footer{
    background-color: #2C2C2C;
    color: white;
    padding-top: 20px;
    padding-bottom: 25px;
    h4{
        padding-left: 25px;
        margin: 0;
        font-family: shrikhand, verdana, sans-serif;
        font-size: 17px;
    }
    ul{
        list-style: none;
        padding-left: 25px;
        margin: 0;
        padding-top: 20px;
        line-height: 1.7;
        font-size: 15px;
    }
    a{
        text-decoration: none;
        color: white;
    }
    i{
        padding-right: 5px;
    }
    .fa-handshake-angle{
        font-size: 11px;
    }
}
@media screen and (min-width: 901px){
    ul {
        display: flex;
        justify-content: space-between;
        padding-right: 25px;
        }
    }