@import "./header-menu";
@import "./footer-menu";
body{
    margin: 0;
    font-family: roboto, verdana, sans-serif;
}
.image__menu{
    width: 100%;
    height: 265px;
    object-fit: cover;
    @media screen and (min-width: 551px) and (max-width: 900px){
        height: 320px;
    }
    @media screen and (min-width: 901px){
        display: flex;
        z-index: 1;
        width: 35%;
        height: 210px;
        border: 4px solid $color-tertiary;
        border-radius: 15px;
        top: 20px;
        left: 100px;
        position: relative;
    }
}
h1{
    margin-top: 0;
    font-size: 27px;
    margin-bottom: 5px;
    font-family: shrikhand, Verdana, sans-serif;
    padding-left: 20px;
    @media screen and (min-width: 901px){
        padding-right: 65px;
    }
}
.menu{
    background-color: #F5F5F5;
    border-radius: 40px 40px 0 0;
    position: relative;
    width: 100%;
    margin-top: -55px;
    padding-bottom: 80px;
    @media screen and (min-width: 551px) and (max-width: 900px){
        margin-top: -40px;
    }
    @media screen and (min-width: 901px){
        margin-top: -220px;
        border-radius: 0;
    }
    &__titre{
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        padding: 30px 60px 0px 0px;
        @media screen and (min-width: 901px){
            justify-content: center;
            padding: 100px 130px 100px 430px;
        }
    }
    &__icone__menu{
        font-size: 25px;
        display: flex;
        align-items: end;
        color: gray;
        position: relative;
        .fa-heart{
            position: absolute;
            transition: opacity 0.5s ease-in-out;
        }
        .fa-regular{
            opacity: 1;
        }
        .fa-solid{
            opacity: 0;
            background: linear-gradient(to top, #FF79DA, #9356DC);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        &:hover{
            .fa-regular{
                opacity: 0;
            }
            .fa-solid{
                opacity: 1;
            }
        }
    }
    &__complet{
        @media screen and (min-width: 901px){
            display: flex;
            justify-content: center;
        }
    }
}
.menu__entrees{
    @media screen and (min-width: 901px){
        width: 33%;
    }  
}
.menu__plats{
    @media screen and (min-width: 901px){
        width: 33%;
    }  
}
.menu__desserts{
    @media screen and (min-width: 901px){
        width: 33%;
    }  
}
.menu__card__titre{
    font-size: 16px;
    padding-bottom: 15px;
    padding-top: 25px;
    padding-left: 20px;
    margin-top: 0;
    font-weight: 400;
    color: gray;
}
.menu__card__titre::after{
    content: "";
    display: block;
    width: 40px;
    height: 3px;
    background: #99E2D0;
    margin-top: 5px;
    }
.card__entrees{
    animation: animation-entrees 3s ease-in-out;
}
.card__plats{
    animation: animation-entrees 4s ease-in-out;
}
.card__desserts{
    animation: animation-entrees 5s ease-in-out;
}
.card{
    margin-bottom: 15px;
    margin-left: 15px;
    margin-right: 15px;
    a{
        background-color: white;
        border-radius: 15px;
        line-height: 0.5;
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 10px 10px -10px #d9d9d9;
        text-decoration: none;
        width: 100%;
        margin: 0;
        overflow: hidden;
        @media screen and (min-width: 901px){
            width: 100%;
        }
        &:hover{
            .menu__icone__liste{
                width: 80px;
                height: 100%;
                transition: all 0.6s ease-in-out;
                .fa-solid, .fas{
                    color: white;
                }
            }
            .fa-solid, .fas{
                transform: rotate(360deg);
                transition: all 1s ease-in-out;
                color: white;
            }
        }
    }
    .nom{
        font-size: 17px;
        color: black;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-top: 10px;
        padding-left: 10px;
        margin: 0;
    }
    .supplement{
        font-size: 14px;
        color: gray;
        text-overflow: ellipsis;
        overflow: hidden;
        padding-left: 10px;
        margin: 0;
        padding-bottom: 10px;
    }
    .entrees__description, .plats__description, .desserts__description{
        white-space: nowrap;
        overflow: hidden;
        line-height: 1.25;
    }
    .survol{
        display: flex;
    }
    .prix__description{
        align-items: end;
        display: flex;
        margin: 15px;
        font-size: 15px;
        color: black;
    }
    .menu__icone__liste{
        align-items: center;
        justify-content: center;
        display: flex;
        width: 0px;
        height: 100%;
        margin-top: auto;
        margin-bottom: auto;
        background-color: $color-tertiary;
        border-radius: 0px 15px 15px 0px;
        transition: all 0.6s ease-in-out;
    }
    .strong{
        align-items: end;
        display: flex;
        padding-bottom: 15px;
    }
    .fa-solid, .fas{
        margin: 0;
        font-size: 25px;
        color: transparent;
        transition: all 1s ease-in-out;
    }
}
.btn__menu{
    margin-top: 50px;
    border-radius: 25px;
    padding: 15px 50px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    background: linear-gradient(to top, #9356DC, #FF79DA);
    box-shadow: 5px 5px 10px #D1D1D1;
    border: inherit;
    cursor: pointer;
    text-decoration: none;
    color: white;
    font-size: 15px;
    transition: all 0.4s ease-in-out;
    opacity: 1;
    &:hover{
        transform: scale(1.1);
        box-shadow: 5px 5px 10px #b1b1b1;
        opacity: 0.9;
    }
}